{% extends 'base.html' %}

{% block title %} Song List {% endblock title %}

{% block content %}
<h1>Song List:</h1>
<form method="GET" action="{% url 'song_list' %}">
    <div class="form-row">
      <div class="col-md-3">
        <input type="text" name="title" placeholder="Title" value="{{ request.GET.title }}">
      </div>
      <div class="col-md-3">
        <input type="text" name="artist" placeholder="Artist" value="{{ request.GET.artist }}">
      </div>
      <div class="col-md-3">
        <input type="text" name="album" placeholder="Album" value="{{ request.GET.album }}">
      </div>
      <div class="col-md-3">
        <input type="text" name="genre" placeholder="Genre" value="{{ request.GET.genre }}">
      </div>
    </div>
    <div class="form-row mt-2">
      <div class="col-md-3">
        <input type="number" name="year" placeholder="Year" value="{{ request.GET.year }}">
      </div>
      <div class="col-md-3">
        <input type="text" name="length__gte" placeholder="Min Length" value="{{ request.GET.length__gte }}">
      </div>
      <div class="col-md-3">
        <input type="text" name="length__lte" placeholder="Max Length" value="{{ request.GET.length__lte }}">
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary">Filter</button>
      </div>
    </div>
  </form>
{% if all_songs %}
    <div class = "table-responsive">
        <table class = "table talbe-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Genre</th>
                    <th>Year</th>
                    <th>Length</th>
                </tr>
            </thread>
            <tbody>
                {% for song in all_songs %}
                <tr>
                    <td>{{ song.title }}</td>
                    <td>{{ song.artist }}</td>
                    <td>{{ song.album }}</td>
                    <td>{{ song.genre }}</td>
                    <td>{{ song.year }}</td>
                    <td>{{ song.length }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
{% else %}
    <p>No songs are available.</p>
{% endif %}
{% if user.is_authenticated %}
    <a href="{% url 'profile' %}">Return to Profile</a>
{% else %}
    <a href="{% url 'signup' %}">Sign Up/ Login</a>
{% endif %}
{% endblock content %}