{% extends 'base.html' %}

{% block content %}
    <h1>Playlist: {{ object.name }}</h1>
    {% if object.songs %}
        <h2> Songs: </h2>
        <div class = "table-responsive">
            <table class = "table table-striped">
                <thead>
                    <tr>
                        <th>Song Name</th>
                        <th>Artist</th>
                        <th>Album</th>
                        <th>Genre</th>
                        <th>Duration (in seconds)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for song in object.songs.all %}
                        <tr>
                            <td>{{ song.title }}</td>
                            <td>{{ song.artist }}</td>
                            <td>{{ song.album }}</td>
                            <td>{{ song.genre }}</td>
                            <td>{{ song.length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else%}
        <p> You haven't added any songs to this playlist yet!</p>
    {% endif %}
    <a href="{% url 'playlist_share' object.pk %}">Share</a>
{% endblock %}