{% extends 'base.html' %}


{% block content %}
    <h1>Welcome back, {{ user.name }}.</h1>
    {% if playlists %}
        <h2> Playlists: </h2>
        <div class = "table-responsive">
            <table class = "table table-striped">
                <thead>
                    <tr>
                        <th>Playlist Name</th>
                        <th>Description</th>
                        <th>Number of Songs</th>
                    </tr>
                </thead>
                <tbody>
                    {% for playlist in playlists %}
                        <tr>
                            <td>{{ playlist.name }}</td>
                            <td>{{ playlist.description }}</td>
                            <td>{{ playlist.songs.count }}</td>
                            <td><a href= "{% url 'playlist_detail' playlist.pk %}">Details</a></td>
                            <td><a href= "{% url 'playlist_edit' playlist.pk %}">Edit</a></td>
                            <td><a href= "{% url 'playlist_delete' playlist.pk %}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else%}
        <p> You haven't created a playlist yet! <a href = "{% url 'playlist_create' %}">Create one</a></p>
    {% endif %}

    <a href="{% url 'index' %}">Go to song lists</a>
    <a href="{% url 'password_change' %}">Change Password</a>
    <a href="{% url 'logout' %}">Log Out</a>
{% endblock %}