{% extends 'base.html' %}


{% block content %}
    <h1>Welcome back, {{ user.name }}.</h1>
    <h2> Playlists: </h2>
    {% for playlist in playlists %}<!--TODO-->
        <h3> {{ playlist.name }} </h3>
        {% for song in playlist.songs %}
            <p> {{ song.name }} </p>
        {% endfor %}
        <!--TODO add an if to check if there are no playlist. If not show button to create new playlists-->
        {% empty %}
            <p> You haven't created a playlist yet! <a href = "{% url 'playlist_create' %}">Create one</a></p>
    {% endfor %}

    <a href="{% url 'index' %}">Go to song lists</a>
    <a href="{% url 'password_change' %}">Change Password</a>
    <a href="{% url 'logout' %}">Log Out</a>
{% endblock %}